<div class="flex flex-col pt-12 justify-between items-center h-screen text-white" style="background-color: #310D4B;">
    <div class="flex flex-col items-center text-center h-36">
        <h1 class="text-7xl sm:text-8xl font-Cute-Font">O M0LINA.DEV</h1>
        <p class="text-2xl w-fit pr-2">{{textoAtual}}<span class="text-4xl font-bold">|</span></p>
    </div>
    <img class="h-1/3 sm:h-1/2" src="assets/programando.gif">
    <footer class="flex flex-col w-screen justify-center py-6" style="background-color: #5C2E7D;">
        <div class="flex justify-evenly">
            <a target="_blank" href="https://github.com/FelipeMolinaa">
                <img class="h-16" src="assets/github.png">
            </a>
            <a target="_blank" href="https://www.instagram.com/otaldomolas">
                <img class="h-16" src="assets/instagram.webp">
            </a>
            <a target="_blank" href="https://www.linkedin.com/in/fe-molina">
                <img class="h-16" src="assets/linkedin.png">
            </a>
            <a target="_blank" href="mailto:felipemolina.contato@gmail.com">
                <img class="h-16" src="assets/gmail.webp">
            </a>
        </div>
    </footer>
</div>